html, body, button, input, select, option, * {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vsteps--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  /*
  |------------------------------
  |
  | Top area to keep steps
  |
  |------------------------------
  */
  .vsteps--bar-wrapper {
    display: flex;
    margin-bottom: 1rem;;

    .vsteps--bar {
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10rem;
      cursor: pointer;
      
      /*
      |------------------------------
      |
      | Every individual step item
      |
      |------------------------------
      */
      .bar--top {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #ecf0f1;
        box-shadow: 0 5px 10px -3px #dfe4ea;
        transition: .2s all ease;
        
        &.dot-style {
          transform: scale(.3);

          .bar--top-step {
            &::before {
              width: 60rem !important;
              right: 220% !important;
            }
          }
        }

        &.active {
          background-color: #f39c12;
          box-shadow: 0 5px 10px -3px #f39c12;
          transition: .2s all ease;
          
          .bar--top-step {
            color: #fff;
            
            &::before {
              background-color: #f39c12;
              box-shadow: 0 5px 10px -3px #f39c12;
              transition: .2s all ease;
            }
          }
        }
  
        &-step {
          display: flex;
          align-items: center;
          line-height: 2rem;
          justify-content: center;
          width: 100%;
          max-width: 100%;
          color: #a4b0be;
          position: relative;
          transition: .2s all ease;
            
          &::before {
            transition: .2s all ease;
            content: "";
            display: block;
            width: 15rem;
            height: 2px;
            background-color: #ecf0f1;
            position: absolute;
            top: 50%;
            right: 175%;
          }
        }
      }
  
      .bar--title {
        color: #34495e;
        font-size: 1rem;
        text-align: center;
      }
  
      &:first-of-type {
        margin-left: 0;
  
        .bar--top-step::before {
          content: none;
        } 
      }
    }
  }

  /*
  |------------------------------
  |
  | Content area for every
  | individual steps
  |
  |------------------------------
  */
  .vsteps--content-wrapper {
    width: 100%;
  }

  /*
  |------------------------------
  |
  | Buttons area
  |
  |------------------------------
  */
  .vsteps--buttons {
    display: flex;
    margin-top: 1rem;
  
    &-btn {
      margin: 0 .5rem;
      border: 0;
      font-size: 1rem;
      outline: none;
      cursor: pointer;
      padding: .5rem 1rem;
      color: #fff;
      border-radius: .2rem;
      text-transform: uppercase;
      letter-spacing: .02rem;
      transition: .2s all ease;
    }
  }
}

/*
|------------------------------
|
| Button Colors
|
|------------------------------
*/
.orange { background-color: #f39c12; box-shadow: 0 5px 10px -5px #f39c12; }
.green { background-color: #2ecc71; box-shadow: 0 5px 10px -5px #2ecc71; }
.turqouse { background-color: #1abc9c; box-shadow: 0 5px 10px -5px #1abc9c; }
.blue { background-color: #3498db; box-shadow: 0 5px 10px -5px #3498db; }
.purple { background-color: #9b59b6; box-shadow: 0 5px 10px -5px #9b59b6; }
.midnight { background-color: #34495e; box-shadow: 0 5px 10px -5px #34495e; }
.yellow { background-color: #f1c40f; box-shadow: 0 5px 10px -5px #f1c40f; }
.red { background-color: #e74c3c; box-shadow: 0 5px 10px -5px #e74c3c; }

/*
|------------------------------
|
| Active Steps Colors
|
|------------------------------
*/
.bar--top.active.orange {
  background-color: #f39c12 !important;
  box-shadow: 0 5px 10px -5px #f39c12 !important;
  .bar--top-step {
    &::before {
      background-color: #f39c12 !important;
      box-shadow: 0 5px 10px -5px #f39c12 !important;
    }
  }
}

.bar--top.active.green {
  background-color: #2ecc71 !important;
  box-shadow: 0 5px 10px -5px #2ecc71 !important;
  .bar--top-step {
    &::before {
      background-color: #2ecc71 !important;
      box-shadow: 0 5px 10px -5px #2ecc71 !important;
    }
  }
}

.bar--top.active.turqouse {
  background-color: #1abc9c !important;
  box-shadow: 0 5px 10px -5px #1abc9c !important;
  .bar--top-step {
    &::before {
      background-color: #1abc9c !important;
      box-shadow: 0 5px 10px -5px #1abc9c !important;
    }
  }
}

.bar--top.active.blue {
  background-color: #3498db !important;
  box-shadow: 0 5px 10px -5px #3498db !important;
  .bar--top-step {
    &::before {
      background-color: #3498db !important;
      box-shadow: 0 5px 10px -5px #3498db !important;
    }
  }
}

.bar--top.active.purple {
  background-color: #9b59b6 !important;
  box-shadow: 0 5px 10px -5px #9b59b6 !important;
  .bar--top-step {
    &::before {
      background-color: #9b59b6 !important;
      box-shadow: 0 5px 10px -5px #9b59b6 !important;
    }
  }
}

.bar--top.active.midnight {
  background-color: #34495e !important;
  box-shadow: 0 5px 10px -5px #34495e !important;
  .bar--top-step {
    &::before {
      background-color: #34495e !important;
      box-shadow: 0 5px 10px -5px #34495e !important;
    }
  }
}

.bar--top.active.yellow {
  background-color: #f1c40f !important;
  box-shadow: 0 5px 10px -5px #f1c40f !important;
  .bar--top-step {
    &::before {
      background-color: #f1c40f !important;
      box-shadow: 0 5px 10px -5px #f1c40f !important;
    }
  }
}

.bar--top.active.red {
  background-color: #e74c3c !important;
  box-shadow: 0 5px 10px -5px #e74c3c !important;
  .bar--top-step {
    &::before {
      background-color: #e74c3c !important;
      box-shadow: 0 5px 10px -5px #e74c3c !important;
    }
  }
}
