html, body, button, input, select, option, * {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$orange: #f39c12;
$green: #2ecc71;
$turqouse: #1abc9c;
$blue: #3498db;
$purple: #9b59b6;
$midnight: #34495e;
$yellow: #f1c40f;
$red: #e74c3c;
$white: #fefefe;
$gray: #f1f2f6;

/*
|------------------------------
|
| Stepper Area
|
|------------------------------
*/
.vsteps--bar-wrapper {
  position: relative;
  display: flex;
  width: 100%;

  .vsteps--bar {
    width: 100%;
    cursor: pointer;

    .vsteps--bar-progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      
      .bar--top {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        color: $white;
        
        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 2rem;
          width: 2rem;
          color: $midnight;
          height: 2rem;
          background-color: $gray;
          border-radius: 50%;
          transition: all .3s ease-in-out;
        }
    
        &::after {
          content: "";
          transition: width 1s ease-in;
          position: absolute;
          height: 5px;
          width: 0%;
          top: 50%;
          left: 50%;
          z-index: -1;
          background-color: $gray;
          transform: translateY(-50%);
        }

        &::before {
          content: "";
          transition: width 1s ease-in;
          position: absolute;
          height: 5px;
          width: 100%;
          top: 50%;
          right: 50%;
          z-index: -11;
          background-color: $gray;
          transform: translateY(-50%);
        }

        &.dot-style {
          &::after {
            height: 2px;
          }

          .circle {
            height: .7rem;
            width: .7rem;
          }
        }
      }

      &.completed {
        .bar--top {
          .circle {
            background-color: $red;
            color: $white;
          }

          &::after {
            background: $red;
            animation: nextStep .8s;
            animation-fill-mode: forwards;
          }

          &::before {
            background: $red;
            animation: backS .8s;
            animation-fill-mode: forwards;
          }
        }
      }

      &.active {
        .bar--top {
          .circle {
            background-color: $red;
            transition: all .3s ease-in-out;
            animation: pulse 2s infinite;
            animation-delay: .8s;
            color: $white;
          }
        }
      }

      .bar--title {
        color: $midnight;

        &-description {
          margin: .5rem 0;
          font-size: .85rem;
          opacity: .8;
        }

        &-h1 {
          margin-top: 1rem;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
    }

    &:last-of-type .vsteps--bar-progress .bar--top::after {
      display: none;
    }
    
    &:first-of-type .vsteps--bar-progress .bar--top::before {
      display: none;
    }
  }
}

/*
|------------------------------
|
| Content Area
|
|------------------------------
*/
.vsteps--content-wrapper {
  margin: 2rem 0;
  padding: 0 2rem;
  width: 100%;
}

/*
|------------------------------
|
| Buttons Area
|
|------------------------------
*/
.vsteps--buttons-wrapper {
  display: flex;
  justify-content: center;

  .vsteps--buttons {
    display: flex;

    button {
      appearance: none;
      border: none;
      padding: .5rem 1.5rem;
      outline: none;
      border-radius: .3rem;
      cursor: pointer;
      color: $white;
      margin: 0 .3rem;
    }
  }
}

/*
|------------------------------
|
| Preset Colors
|
|------------------------------
*/
.orange { background-color: $orange; box-shadow: 0 5px 10px -5px $orange; }
.green { background-color: $green; box-shadow: 0 5px 10px -5px $green; }
.turqouse { background-color: $turqouse; box-shadow: 0 5px 10px -5px $turqouse; }
.blue { background-color: $blue; box-shadow: 0 5px 10px -5px $blue; }
.purple { background-color: $purple; box-shadow: 0 5px 10px -5px $purple; }
.midnight { background-color: $midnight; box-shadow: 0 5px 10px -5px $midnight; }
.yellow { background-color: $yellow; box-shadow: 0 5px 10px -5px $yellow; }
.red { background-color: $red; box-shadow: 0 5px 10px -5px $red; }

/*
|------------------------------
|
| Animations
|
|------------------------------
*/
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba($red, .5); }
  70% { box-shadow: 0 0 0 10px rgba(33,131,221, 0); }
  100% { box-shadow: 0 0 0 0 rgba(33,131,221, 0); }
}

@keyframes nextStep {
  0% { width: 0%; }
  100% { width: 100%; }
}