html, body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
}

.vsteps--wrapper {
  display: flex;

  .vsteps--bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12rem;
    cursor: pointer;
    
    .bar--top {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #ecf0f1;
      box-shadow: 0 5px 10px -3px #dfe4ea;
      transition: .3s all ease-in-out;

      &.active {
        background-color: #f39c12;
        box-shadow: 0 5px 10px -3px #f39c12;
        transition: .3s all ease-in-out;

        .bar--top-step {
          color: #fff;

          &::before {
            background-color: #f39c12;
            transition: .3s all ease-in-out;
          }
        }
      }

      &-step {
        color: #a4b0be;
        position: relative;
        transition: .3s all ease-in-out;

        &::before {
          transition: .3s all ease-in-out;
          content: "";
          display: block;
          width: 10rem;
          height: 3px;
          background-color: #ecf0f1;
          border-radius: 10rem;
          position: absolute;
          top: 50%;
          right: 400%;
        }
      }
    }

    &:first-of-type {
      margin-left: 0;

      .bar--top-step::before {
        content: none;
      } 
      
    }
  }
}